################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Databáza/Poznámky.txt
./Inrormácie.docx
./Pozrieť.xls
/Inrormácie.docx
/Pozrieť.xls
